<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.rapor_bayi_bazinda_toplam_satislar}"/>
    </ui:define>

    <ui:define name="content">
        <h:form id="main_form" target="_blank">
            <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>
            <div class="Container100">
                <div class="ContainerIndent">
                    <h3>  #{lbl.rapor_bayi_bazinda_toplam_satislar} </h3>

                    <p:panel>
                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-chart-bar orange"></i> #{lbl.sorgu_kriterleri}
                        </div>
                        <p:panelGrid columns="4" layout="grid" columnClasses="ui-grid-col-2 , ui-grid-col-3 , ui-grid-col-2 , ui-grid-col-3">

                            <h:outputLabel for="personel_adi" value="#{lbl.label_personel_adi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="personel_adi" value="#{raporMB.sorguKriteri.personelAdi}"
                                             style="width:200px;">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItem itemLabel="Celil" itemValue="CELIL"/>
                                <f:selectItem itemLabel="Elif" itemValue="ELIF"/>
                                <f:selectItem itemLabel="Fatih" itemValue="FATIH"/>
                                <f:selectItem itemLabel="Yunus" itemValue="YUNUS"/>
                            </p:selectOneMenu>

                            <h:outputLabel for="firma_adi" value="#{lbl.firma_adi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:autoComplete value="#{raporMB.sorguKriteri.firma}"
                                            id="firma_adi" completeMethod="#{raporMB.completeFirma}"
                                            var="varObj" itemLabel="#{varObj.firmaAdi}"
                                            itemValue="#{varObj}" converter="#{firmaConverter}">

                                <f:facet name="itemtip">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <f:facet name="header">
                                            <h:outputLabel for="f_kodu" value="#{lbl.firma_kodu}"/>
                                            <h:outputText id="f_kodu" value="#{varObj.firmaKodu}"/>
                                        </f:facet>

                                        <h:outputLabel for="f_adi" value="#{lbl.firma_adi}"/>
                                        <h:outputText id="f_adi" value="#{varObj.firmaAdi}"/>
                                    </h:panelGrid>
                                </f:facet>

                            </p:autoComplete>

                            <h:outputLabel for="baslangic_tarihi" value="#{lbl.sorgu_baslangic_tarihi}"
                                           style="font-weight:bold"
                            />
                            <p:calendar id="baslangic_tarihi"
                                        value="#{raporMB.sorguKriteri.baslangicTarihi}"
                                        pattern="dd/MM/yyyy" mask="true"
                            />

                            <h:outputLabel for="bitis_tarihi" value="#{lbl.sorgu_bitis_tarihi}"
                                           style="font-weight:bold"
                            />
                            <p:calendar id="bitis_tarihi"
                                        value="#{raporMB.sorguKriteri.bitisTarihi}"
                                        pattern="dd/MM/yyyy"
                                        mask="true"/>

                            <h:outputLabel for="marka" value="#{lbl.label_marka}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="marka" value="#{raporMB.sorguKriteri.marka}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems value="#{raporMB.markaList}" var="mr"
                                               itemValue="#{mr}"
                                               itemLabel="#{mr.ad}"/>
                                <f:converter binding="#{markaConverter}"/>
                                <p:ajax event="change" listener="#{raporMB.updateAllAsNull()}"
                                        update="@([id$=main_form])"></p:ajax>
                            </p:selectOneMenu>

                            <h:outputLabel for="model" value="#{lbl.label_model}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="model" value="#{raporMB.sorguKriteri.model}"
                                             disabled="#{empty raporMB.sorguKriteri.marka}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems
                                        value="#{not empty raporMB.sorguKriteri.marka ? raporMB.getModelListByMarka(raporMB.sorguKriteri.marka) : null}"
                                        var="sr"
                                        itemValue="#{sr}"
                                        itemLabel="#{sr.ad}"/>
                                <f:converter binding="#{modelConverter}"/>
                                <p:ajax event="change" listener="#{raporMB.updateAllAsNull()}"
                                        update="@([id$=main_form])"></p:ajax>
                            </p:selectOneMenu>

                            <h:outputLabel for="seri" value="#{lbl.label_seri_adi}"
                                           rendered="#{not empty raporMB.sorguKriteri.model}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="seri" value="#{raporMB.sorguKriteri.seri}"
                                             rendered="#{not empty raporMB.sorguKriteri.model}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems
                                        value="#{not empty raporMB.sorguKriteri.model ? raporMB.getSeriListByModel(raporMB.sorguKriteri.model) : null}"
                                        var="sr"
                                        itemValue="#{sr}"
                                        itemLabel="#{sr.ad}"/>
                                <f:converter binding="#{seriConverter}"/>
                            </p:selectOneMenu>

                            <p:commandButton ajax="false" value="#{lbl.raporla}"
                                             action="#{raporMB.getR101ResultList()}"
                            />
                        </p:panelGrid>

                    </p:panel>

                    <div style="height:10px"></div>

                    <ui:include src="raporFormatIslemleri.xhtml">
                        <ui:param name="entityMB" value="#{raporMB}"/>
                    </ui:include>
                </div>
            </div>
        </h:form>
    </ui:define>

    <ui:define name="body">

    </ui:define>
</ui:composition>
