<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
        <script src="http://maps.google.com/maps/api/js?sensor=false&amp;v=3.4" type="text/javascript"></script>
    </ui:define>

    <ui:define name="content">
        <h:form id="hakkimizda">
            <div class="Container100 white-back">
                <div class="ContainerIndent">
                    <div class="Container40 Responsive">
                        <div class="ContainerIndent">
                            <div class="EmptyBox5"/>

                            <h:panelGrid columns="1"/>
                            <p:graphicImage value="/images/aymer_logo_new.png"
                                            height="50"/>
                            <h:panelGrid/>

                            <div class="EmptyBox5"/>

                            <p:separator styleClass="Wid100"></p:separator>

                            <i class="softgray MarRight10 Fs14"> <h:outputText
                                    value="Ruzgarli cad. No: 33/A Ulus / ANKARA"/> </i>

                            <i class="softgray MarRight10 Fs14 Fright"> <h:outputText
                                    value="+90 312 311 8395"/> </i>

                            <div class="EmptyBox5"></div>

                            <p:separator styleClass="Wid100"></p:separator>

                            <i class="hardblue MarRight10 Fs19"> <p:link value="www.aymerbilisim.com"
                                                                         href="http://www.aymerbilisim.com"
                                                                         target="_blank"
                                                                         style="text-decoration: none;font-style: normal"/>
                            </i>

                            <p:link href="https://twitter.com/AymerBilisim" target="_blank"
                                    styleClass="icon-twitter-1 Fright hardblue Fs20" style="text-decoration: none;"/>

                            <p:link href="http://www.facebook.com/aymerbilisim" target="_blank"
                                    styleClass="icon-facebook-squared Fright hardblue Fs20"
                                    style="text-decoration: none;"/>


                        </div>
                    </div>


                    <div class="Container60 Responsive">
                        <div class="ContainerIndent">
                            <p:gmap id="gmap" center="39.943054,32.851069999999936" zoom="12" type="ROADMAP"
                                    model="#{hakkimizdaMB.advancedModel}" style="width:100%;height:450px">

                                <p:ajax event="overlaySelect" listener="#{hakkimizdaMB.onMarkerSelect}"/>

                                <p:gmapInfoWindow id="infoWindow">
                                    <p:outputPanel style="text-align: center; display: block; margin: auto">

                                        <p:graphicImage value="/images/#{hakkimizdaMB.marker.data}"
                                                        height="50"/>
                                        <br/>
                                        <p:link value="#{hakkimizdaMB.marker.title}" href="http://www.aymerbilisim.com"
                                                target="_blank"/>

                                    </p:outputPanel>
                                </p:gmapInfoWindow>
                            </p:gmap>
                        </div>
                    </div>

                </div>
            </div>

        </h:form>
    </ui:define>

</ui:composition>


