<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.label_kitap_ekleme}"/>
    </ui:define>

    <ui:define name="content">

        <div style="height:10px"></div>

        <h:form id="main_form">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>
                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-user-outline orange"></i> #{lbl.label_kitap_ekleme}
                        </div>
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel for="ad" value="#{lbl.label_kitap_adi} (*)" style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="ad" value="#{kitapController.yeniKitap.ad}" required="true"
                                         label="#{lbl.ad}"/>

                            <h:outputLabel for="yazar" value="#{lbl.yazar} (*)"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="yazar" value="#{kitapController.yeniKitap.yazar}"
                                         required="true"
                                         label="#{lbl.yazar}"/>

                            <h:outputLabel for="yayinEvi" value="#{lbl.label_kitap_yayin_evi} (*)"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="yayinEvi" value="#{kitapController.yeniKitap.yayinEvi}"
                                         required="true"
                                         label="#{lbl.label_kitap_yayin_evi}"/>


                            <h:outputLabel for="durum" value="#{lbl.kullanici_durum}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="durum" value="#{kitapController.yeniKitap.durum}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItems value="#{kitapController.durumList}" var="drm"
                                               itemValue="#{drm}"
                                               itemLabel="#{drm.aciklama}"/>
                                <f:converter binding="#{durumConverter}"/>
                            </p:selectOneMenu>

                            <h:outputLabel for="LisansDili" value="#{lbl.kullanici_durum}"
                                                                                         style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="LisansDili" value="#{kitapController.yeniKitap.dil}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItems value="#{kitapController.dilList}" var="dil"
                                               itemValue="#{dil}"
                                               itemLabel="#{dil.aciklama}"/>
                                <f:converter binding="#{dilConverter}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>

                    </p:panel>
                    <h:panelGrid columns="3">
                        <p:commandButton id="btn_kullanici_guncelle" value="#{lbl.kaydet}"
                                         action="#{kitapController.add}">
                            <p:confirm header="#{lbl.kitap_ekle}" message="#{msg.islemi_onayliyormusunuz}"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                    </h:panelGrid>
                </div>
            </div>
        </h:form>
    </ui:define>

    <ui:define name="body">

    </ui:define>
</ui:composition>
