<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:body>

     <p:dialog id="popup_kitap_gunc" header="#{lbl.sifre_degistirme}" widgetVar="kitapGuncellemeVidget" closeOnEscape="true" height="auto" rendered="#{not empty controller.selected}"
                  width="auto" modal="true">

            <p:messages showDetail="false" autoUpdate="true" closable="true"/>

            <p:panel id="pnl_kital_gunc">

                <div class="Container100 Responsive Fs20 hardblue">
                    <i class="icon-user-outline orange"></i> #{lbl.label_kitap_ekleme}
                </div>
                <h:panelGrid columns="2" cellpadding="5">

                    <h:outputLabel for="u_ad" value="#{lbl.label_kitap_adi} (*)"
                                   style="font-weight:bold; color: #0b4170"/>
                    <p:inputText id="u_ad" value="#{controller.selected.ad}" required="true"
                                 label="#{lbl.ad}"/>

                    <h:outputLabel for="yazar" value="#{lbl.yazar} (*)"
                                   style="font-weight:bold; color: #0b4170"/>
                    <p:inputText id="yazar" value="#{controller.selected.yazar}"
                                 required="true"
                                 label="#{lbl.yazar}"/>

                    <h:outputLabel for="yayinEvi" value="#{lbl.label_kitap_yayin_evi} (*)"
                                   style="font-weight:bold; color: #0b4170"/>
                    <p:inputText id="yayinEvi" value="#{controller.selected.yayinEvi}"
                                 required="true"
                                 label="#{lbl.label_kitap_yayin_evi}"/>


                    <h:outputLabel for="durum" value="#{lbl.kullanici_durum}"
                                   style="font-weight:bold; color: #0b4170"/>
                    <p:selectOneMenu id="durum" value="#{controller.selected.durum}"
                                     style="font-weight:bold; color: #0b4170">
                        <f:selectItems value="#{controller.durumList}" var="drm"
                                       itemValue="#{drm}"
                                       itemLabel="#{drm.aciklama}"/>
                        <f:converter binding="#{durumConverter}"/>
                    </p:selectOneMenu>

                    <h:outputLabel for="u_LisansDili" value="#{lbl.kullanici_durum}"
                                   style="font-weight:bold; color: #0b4170"/>
                    <p:selectOneMenu id="u_LisansDili" value="#{controller.selected.dil}"
                                     style="font-weight:bold; color: #0b4170">
                        <f:selectItems value="#{controller.dilList}" var="dil"
                                       itemValue="#{dil}"
                                       itemLabel="#{dil.aciklama}"/>
                        <f:converter binding="#{dilConverter}"/>
                    </p:selectOneMenu>
                </h:panelGrid>

            </p:panel>
            <h:panelGrid columns="3">
                <p:commandButton value="#{lbl.kaydet}"
                                 update="@([id$=#{formName}])" action="#{controller.guncelle}">
                    <p:confirm header="#{lbl.kitap_ekle}" message="#{msg.islemi_onayliyormusunuz}"
                               icon="ui-icon-alert"/>
                </p:commandButton>
            </h:panelGrid>


        </p:dialog>

</h:body>
</html>
