<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dialog id="dlgGoruntuleme" dynamic="true" header="Basic Dialog" widgetVar="dlg1" minHeight="40" modal="true"
              width="50px;" height="50px">
        <p:panelGrid columns="2" columnClasses="label,value">
            <h:outputText value="2323"/>
            <h:outputText id="adiSoyadi" value="#{kitap.ad}"/>
        </p:panelGrid>
</p:dialog>
</ui:composition>