<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.label_bildirim_sorgulama}"/>
    </ui:define>

    <ui:define name="content">

        <div style="height:10px"></div>

        <h:form id="main_form">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>

                    <p:panel>
                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-mail orange"></i> #{lbl.label_kitap_sorgulama}
                        </div>

                        <p:panelGrid columns="4" layout="grid"
                                     columnClasses="ui-grid-col-2 , ui-grid-col-3 , ui-grid-col-2 , ui-grid-col-3">

                            <h:outputLabel for="ad" value="#{lbl.label_kitap_adi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="ad" value="#{kitapController.sorguKriteri.ad}"
                                         label="#{lbl.ad}"/>

                            <h:outputLabel for="LisansDili" value="#{lbl.kullanici_durum}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="LisansDili" value="#{kitapController.sorguKriteri.dil}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>

                                <f:selectItems value="#{kitapController.dilList}" var="dil"
                                               itemValue="#{dil}"
                                               itemLabel="#{dil.aciklama}"/>
                                <f:converter binding="#{dilConverter}"/>
                            </p:selectOneMenu>
                            <h:outputLabel for="KitapDurumu" value="#{lbl.label_ktap_dili}"
                                           style="font-weight:bold; color: #0b4170"/>
                                <p:selectOneMenu id="KitapDurumu" value="#{kitapController.sorguKriteri.durum}"
                                                 style="font-weight:bold; color:#0b4170">
                                    <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                    <f:selectItems value="#{kitapController.durumList}" var="durum"
                                                   itemValue="#{durum}"
                                                   itemLabel="#{durum.aciklama}"/>
                                    <f:converter binding="#{durumConverter}"/>
                                </p:selectOneMenu>



                            <p:commandButton value="#{lbl.ortak_sorgula}"
                                             action="#{kitapController.getKitapListBySorguKriteri()}"
                                             update=":main_form"/>

                        </p:panelGrid>

                    </p:panel>

                    <div style="height:10px"></div>

                    <p:panel rendered="#{not empty kitapController.dataModel.wrappedData}">

                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-list orange"></i> #{lbl.sorgu_sonucu}
                        </div>
                        <p:dataTable value="#{kitapController.dataModel}" var="varKitap"
                                     paginatorPosition="bottom" reflow="true"
                                     selection="#{rolController.selected}"
                                     paginator="true" rows="10" emptyMessage="#{msg.no_record_found}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">

                            <p:column headerText="#{lbl.label_kitap_adi}"
                                      sortBy="#{varKitap.ad}">
                                <h:outputText value="#{varKitap.ad}"/>
                            </p:column>

                            <p:column headerText="#{lbl.yazar}"
                                      sortBy="#{varKitap.yazar}">
                                <h:outputText value="#{varKitap.yazar}"/>
                            </p:column>

                            <p:column headerText="#{lbl.label_kitap_yayin_evi}"
                                      sortBy="#{varKitap.yayinEvi}">
                                <h:outputText value="#{varKitap.yayinEvi}"/>
                            </p:column>

                            <p:column headerText="#{lbl.label_ktap_dili}"
                                      sortBy="#{varKitap.dil.aciklama}">
                                <h:outputText value="#{varKitap.dil.aciklama}"/>
                            </p:column>

                            <p:column headerText="#{lbl.label_kitap_basim_tarihi}"
                                      sortBy="#{varKitap.basimTarihi}">
                                <h:outputText value="#{varKitap.basimTarihi}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column>

                                <p:menuButton value="#{lbl.label_islemler}" styleClass="Fright OrangeButton">

                                    <p:menuitem id="btn_guncelle"
                                                value="#{lbl.ortak_guncelle}"
                                                update="@([id$=main_form])"
                                                action="#{kitapController.storeSelectedKitap(varKitap)}"
                                                oncomplete="PF('kitapGuncellemeVidget').show();">

                                    </p:menuitem>

                                    <p:menuitem id="btn_sil"
                                                value="#{lbl.sil}"
                                                update="@([id$=main_form])"
                                                action="#{kitapController.delete(varKitap)}">
                                    </p:menuitem>

                                </p:menuButton>

                            </p:column>
                        </p:dataTable>

                    </p:panel>
                </div>
            </div>

            <ui:include src="kitapGuncelleme.xhtml">
                <ui:param name="controller" value="#{kitapController}"/>
                <ui:param name="formName" value="main_form"/>
            </ui:include>

        </h:form>




    </ui:define>


    <ui:define name="body">

    </ui:define>
</ui:composition>
