<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui" xmlns:aym="http://aym.com/facelets">

    <p:growl id="messages" />

    <h:panelGrid columns="1" cellpadding="5">
        <p:commandButton value="#{label}" onclick="#{pupupId}.show()"
                         type="button" ajax="false" />
    </h:panelGrid>

    <p:confirmDialog message="#{message}" showEffect="bounce"
                     hideEffect="explode" header="İşlem Onay" severity="alert"
                     widgetVar="#{pupupId}">

        <p:commandButton value="Evet" update="messages"
                         oncomplete="#{pupupId}.hide()" ajax="false"
                         action="#{actionBean[actionMethod]}" />
        <p:commandButton value="Hayır" onclick="#{pupupId}.hide()"
                         type="button" />

    </p:confirmDialog>

</ui:composition>