<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.label_bildirim_sorgulama}"/>
    </ui:define>

    <ui:define name="content">

        <div style="height:10px"></div>

        <h:form id="main_form">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>

                    <p:panel>
                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-mail orange"></i> #{lbl.label_bildirim_sorgulama}
                        </div>

                        <p:panelGrid columns="4" layout="grid" columnClasses="ui-grid-col-2 , ui-grid-col-3 , ui-grid-col-2 , ui-grid-col-3">
                            <h:outputLabel for="bildirimTipi" value="#{lbl.label_bildirim_tipi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="bildirimTipi" value="#{bildirimMB.bildirimSorguKriteri.bildirimTipi}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems value="#{bildirimMB.bildirimTipiList}" var="bilTipi"
                                               itemValue="#{bilTipi}"
                                               itemLabel="#{bilTipi.aciklama}"/>
                                <f:converter binding="#{bildirimTipiConverter}"/>
                            </p:selectOneMenu>

                            <h:outputLabel for="kullanici_list" value="#{lbl.kullanici}"
                                           style="font-weight:bold; color: #0b4170"/>

                            <p:autoComplete value="#{bildirimMB.bildirimSorguKriteri.kullanici}"
                                            id="kullanici_list" completeMethod="#{bildirimMB.completePlayer}"
                                            var="varKullanici" itemLabel="#{varKullanici.adSoyad}"
                                            itemValue="#{varKullanici}" converter="#{kullaniciConverter}">

                                <f:facet name="itemtip">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <f:facet name="header">
                                            <h:outputLabel for="k_kodu" value="#{lbl.kullanici}"/>
                                            <h:outputText id="k_kodu" value="#{varKullanici.username}"/>
                                        </f:facet>

                                        <h:outputLabel for="k_adi" value="#{lbl.ad}"/>
                                        <h:outputText id="k_adi" value="#{varKullanici.ad}"/>

                                        <h:outputLabel for="k_soyad" value="#{lbl.kullanici_soyadi}"/>
                                        <h:outputText id="k_soyad" value="#{varKullanici.soyad}"/>
                                    </h:panelGrid>
                                </f:facet>

                            </p:autoComplete>

                            <h:outputLabel for="durum" value="#{lbl.kullanici_durum}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="durum" value="#{bildirimMB.bildirimSorguKriteri.durum}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems value="#{bildirimMB.durumList}" var="drm"
                                               itemValue="#{drm}"
                                               itemLabel="#{drm.aciklama}"/>
                                <f:converter binding="#{durumConverter}"/>
                            </p:selectOneMenu>

                            <p:commandButton value="#{lbl.ortak_sorgula}"
                                             action="#{bildirimMB.getBildirimListBySorguKriteri()}"
                                             update=":main_form"/>

                        </p:panelGrid>

                    </p:panel>

                    <div style="height:10px"></div>

                    <p:panel rendered="#{not empty bildirimMB.bildirimDataModel.wrappedData}">

                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-list orange"></i> #{lbl.sorgu_sonucu}
                        </div>
                        <p:dataTable value="#{bildirimMB.bildirimDataModel}" var="varBildirim"
                                     paginatorPosition="bottom" reflow="true"
                                     selection="#{rolController.selected}"
                                     paginator="true" rows="10" emptyMessage="#{msg.no_record_found}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">

                            <p:column >
                                <p:rowToggler/>
                            </p:column>

                            <p:column headerText="#{lbl.label_bildirim_tipi}"
                                      sortBy="#{varBildirim.bildirimTipi.aciklama}">
                                <h:outputText value="#{varBildirim.bildirimTipi.aciklama}"/>
                            </p:column>

                            <p:column headerText="#{lbl.duyuru_konusu}"
                                      sortBy="#{varBildirim.subject}">
                                <h:outputText value="#{varBildirim.subject}"/>
                            </p:column>

                            <p:column headerText="#{lbl.kullanici}" sortBy="#{varBildirim.kullanici.getAdSoyad()}">
                                <h:outputText value="#{varBildirim.kullanici.getAdSoyad()}"/>
                            </p:column>

                            <p:column headerText="#{lbl.durum}" sortBy="#{varBildirim.durum.aciklama}">
                                <h:outputText value="#{varBildirim.durum.aciklama}"/>
                            </p:column>

                            <p:column headerText="#{lbl.envanter_tanitim_zamani}"
                                      sortBy="#{varBildirim.islemTarihi}">
                                <h:outputText value="#{varBildirim.islemTarihi}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                </h:outputText>
                            </p:column>

                            <p:rowExpansion>
                                <p:panel id="rich_mesajIcerik">

                                    <div class="Container100 Fs20 hardblue">
                                        <i class="icon-mail orange"></i> #{lbl.label_mesaj}
                                    </div>
                                    <div class="EmptyBox5"></div>

                                    <h:outputText rows="10" cols="33" value="#{varBildirim.mesaj}"
                                                  id="yorum_aciklama_v" escape="false"/>

                                </p:panel>
                            </p:rowExpansion>

                            <p:column>

                                <p:menuButton value="#{lbl.label_islemler}" styleClass="Fright OrangeButton">

                                    <p:menuitem id="btn_iptal_et"
                                                value="#{lbl.ortak_iptal}"
                                                update="@([id$=main_form])"
                                                rendered="#{varBildirim.durum.isAktifMi()}"
                                                action="#{bildirimMB.iptalEt(varBildirim)}">
                                    </p:menuitem>

                                    <p:menuitem id="btn_tekrar_gonder"
                                                value="#{lbl.label_tekrar_gonder}"
                                                update="@([id$=main_form])"
                                                rendered="#{not varBildirim.durum.isAktifMi()}"
                                                action="#{bildirimMB.tekrarGonder(varBildirim)}">
                                    </p:menuitem>

                                </p:menuButton>

                            </p:column>
                        </p:dataTable>

                    </p:panel>
                </div>
            </div>
        </h:form>

    </ui:define>

    <ui:define name="body">

    </ui:define>
</ui:composition>
