<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.kullanici_guncelleme}"/>
    </ui:define>

    <ui:define name="content">

        <h:form id="BildirimTipiRol">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>

                    <p:panel>

                                <div class="Container100 Responsive Fs20 hardblue">
                                    <i class="icon-mail orange"></i> #{lbl.bildirim_tipi_hk_belirleme}
                                </div>

                                <h:panelGrid columns="2" cellpadding="5">

                                    <h:outputLabel for="kisa_aciklama" value="#{lbl.kisa_aciklama}"
                                                   style="font-weight:bold; color: #0b4170"/>
                                    <p:outputLabel id="kisa_aciklama"
                                                   value="#{bildirimIslemleriMB.selectedBildirimTipi.kisaAciklama}"/>

                                    <h:outputLabel for="aciklama" value="#{lbl.ortak_aciklama}"
                                                   style="font-weight:bold; color: #0b4170"/>
                                    <p:outputLabel id="aciklama"
                                                   value="#{bildirimIslemleriMB.selectedBildirimTipi.aciklama}"/>

                                </h:panelGrid>

                    </p:panel>

                    <div class="EmptyBox10"></div>


                    <p:panel>

                                <div class="Container100 Responsive Fs20 hardblue">
                                    <i class="icon-lock-open-1 orange"></i> #{lbl.rol_islemleri}
                                </div>
                                <h:panelGrid columns="2" cellpadding="5">

                                    <p:pickList id="pojoPickList" value="#{bildirimIslemleriMB.selectedRolList}" var="rolVar"
                                                itemValue="#{rolVar}" itemLabel="#{rolVar.ad}"
                                                converter="#{rolConverter}"
                                                showSourceControls="true" showTargetControls="true"
                                                showCheckbox="true"
                                                showSourceFilter="true" showTargetFilter="true"
                                                filterMatchMode="contains">

                                        <f:facet name="sourceCaption">
                                            <h:outputText value="#{lbl.kullanici_rolleri}"/>
                                        </f:facet>
                                        <f:facet name="targetCaption">
                                            <h:outputText value="#{lbl.rol_listesi}"/>
                                        </f:facet>

                                        <p:column style="width:75%;">
                                            #{rolVar.ad}
                                        </p:column>

                                    </p:pickList>

                                </h:panelGrid>

                    </p:panel>

                    <h:panelGrid columns="3">
                        <p:commandButton id="btn_bildirimTipi_rol_iliskilendir" value="#{lbl.ortak_guncelle}"
                                         action="#{bildirimIslemleriMB.updateBildirimTipiRolList}">
                            <p:confirm header="#{lbl.bildirim_tipi_hk_belirleme}" message="#{msg.islemi_onayliyormusunuz}" icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton value="#{lbl.ortak_geri_don}" immediate="true"
                                         action="#{bildirimIslemleriMB.geriDon}"/>
                    </h:panelGrid>
                    
                </div>
            </div>
        </h:form>
    </ui:define>


    <ui:define name="body">

    </ui:define>
</ui:composition>
