<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.menu_bildirim_tipi_islemleri}"/>
    </ui:define>

    <ui:define name="content">

        <div style="height:10px"></div>

        <h:form id="main_form">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>

                    <p:panel>
                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-mail orange"></i> #{lbl.menu_bildirim_tipi_islemleri}
                        </div>

                        <h:panelGrid columns="2" cellpadding="5">
                            <h:outputLabel for="bildirimTipi" value="#{lbl.label_bildirim_tipi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="bildirimTipi" value="#{bildirimMB.sorguKriteri.bildirimTipi}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems value="#{bildirimMB.bildirimTipiList}" var="bilTipi"
                                               itemValue="#{bilTipi}"
                                               itemLabel="#{bilTipi.aciklama}"/>
                                <f:converter binding="#{bildirimTipiConverter}"/>
                            </p:selectOneMenu>

                            <p:commandButton value="#{lbl.ortak_sorgula}"
                                             action="#{bildirimMB.getBildirimTipiListBySorguKriteri()}"
                                             update=":main_form"/>

                        </h:panelGrid>

                    </p:panel>

                    <div style="height:10px"></div>

                    <p:panel rendered="#{not empty bildirimMB.bildirimTipiDataModel.wrappedData}">

                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-list orange"></i> #{lbl.sorgu_sonucu}
                        </div>
                        <p:dataTable value="#{bildirimMB.bildirimTipiDataModel}" var="varBildirimTipi"
                                     paginatorPosition="bottom" reflow="true"
                                     selection="#{rolController.selected}"
                                     paginator="true" rows="10" emptyMessage="#{msg.no_record_found}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">

                            <p:column >
                                <p:rowToggler/>
                            </p:column>

                            <p:column headerText="#{lbl.kisa_aciklama}"
                                      sortBy="#{varBildirimTipi.kisaAciklama}">
                                <h:outputText value="#{varBildirimTipi.kisaAciklama}"/>
                            </p:column>
                            <p:column headerText="#{lbl.ortak_aciklama}" sortBy="#{varBildirimTipi.aciklama}">
                                <h:outputText value="#{varBildirimTipi.aciklama}"/>
                            </p:column>

                            <p:rowExpansion>
                                <p:panel id="rich_hedefKitle">

                                    <div class="Container100 Fs20 hardblue">
                                        <i class="icon-lock-1 orange"></i> #{lbl.label_hedef_kitle}
                                    </div>
                                    <div class="EmptyBox5"></div>
                                    <p:dataTable id="kullaniciListesiOfFirma"
                                                 value="#{varBildirimTipi.bildirimTipiRolList}"
                                                 var="varHedefKitle" reflow="true"
                                                 emptyMessage="#{msg.no_record_found}"
                                                 paginatorPosition="bottom"
                                                 rows="3">
                                        <p:column headerText="#{lbl.rol_ad}">
                                            <h:outputText value="#{varHedefKitle.rol.ad}"/>
                                        </p:column>
                                        <p:column headerText="#{lbl.rol_tipi}">
                                            <h:outputText
                                                    value="#{varHedefKitle.rol.sistemYoneticisiMi.aciklama}"/>
                                        </p:column>
                                    </p:dataTable>

                                </p:panel>
                            </p:rowExpansion>

                            <p:column>

                                <p:menuButton value="#{lbl.label_islemler}" styleClass="Fright OrangeButton">

                                    <p:menuitem id="viewButtonBildirimTipiRol"
                                                value="#{lbl.label_hedef_kitle_belirle}"
                                                icon="ui-icon-locked"
                                                action="#{bildirimMB.bildirimTipiRolGuncelleme(varBildirimTipi)}">
                                    </p:menuitem>

                                </p:menuButton>

                            </p:column>
                        </p:dataTable>

                    </p:panel>
                </div>
            </div>
        </h:form>

    </ui:define>

    <ui:define name="body">

    </ui:define>
</ui:composition>
