<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.kullanici_goruntule}"/>
    </ui:define>

    <ui:define name="content">
        <h:form id="kullaniciGoruntuleme">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>

                    <h3>#{lbl.kullanici_goruntule}</h3>
                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-user-outline orange"></i> #{lbl.label_kullanici_bilgileri}
                        </div>
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel for="ad" value="#{lbl.ad}" style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="ad" value="#{kullaniciIslemleri.selected.ad}"/>

                            <h:outputLabel for="soyad" value="#{lbl.soyad}" style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="soyad" value="#{kullaniciIslemleri.selected.soyad}"/>

                            <h:outputLabel for="username" value="#{lbl.kullanici_adi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="username" value="#{kullaniciIslemleri.selected.username}"/>

                            <h:outputLabel for="email" value="#{lbl.kullanici_email}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="email" value="#{kullaniciIslemleri.selected.email}"/>

                            <h:outputLabel for="telefon" value="#{lbl.kullanici_tlefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="telefon" value="#{kullaniciIslemleri.selected.gsm}"/>

                            <h:outputLabel for="tcid" value="#{lbl.kullanici_tcid}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="tcid" value="#{kullaniciIslemleri.selected.tckimlik}"/>

                            <h:outputLabel for="adres" value="#{lbl.kullanici_adres}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="adres" value="#{kullaniciIslemleri.selected.adres}"/>

                            <h:outputLabel for="durum" value="#{lbl.kullanici_durum}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="durum"
                                           value="#{kullaniciIslemleri.selected.durum.aciklama}"/>

                        </h:panelGrid>

                    </p:panel>

                    <div class="EmptyBox10"></div>

                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-home-outline orange"></i> #{lbl.firma_bilgileri}
                        </div>
                        <h:panelGrid columns="1" cellpadding="5">

                            <p:dataTable id="kullaniciListesiOfFirma"
                                         value="#{kullaniciIslemleri.selected.kullaniciFirmaList}"
                                         var="varkullaniciFirma"
                                         emptyMessage="#{msg.no_record_found}"
                                         paginatorPosition="bottom"
                                         reflow="true" rows="3">
                                <p:column headerText="#{lbl.firma_kodu}">
                                    <h:outputText value="#{varkullaniciFirma.firma.firmaKodu}"/>
                                </p:column>
                                <p:column headerText="#{lbl.firma_adi}">
                                    <h:outputText value="#{varkullaniciFirma.firma.firmaAdi}"/>
                                </p:column>
                            </p:dataTable>

                        </h:panelGrid>

                    </p:panel>
                    <h:panelGrid columns="3">
                        <p:commandButton value="#{lbl.ortak_geri_don}"
                                         action="#{kullaniciIslemleri.geriDon}"/>
                    </h:panelGrid>
                </div>
            </div>
        </h:form>
    </ui:define>


    <ui:define name="body">

    </ui:define>
</ui:composition>