<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.kullanici_rol_iliskilendirme}"/>
    </ui:define>

    <ui:define name="content">
        <h:form id="kullaniciRol">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages showDetail="false" autoUpdate="true" closable="true"/>

                    <h3>#{lbl.kullanici_rol_iliskilendirme}</h3>
                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-user-outline orange"></i> #{lbl.label_kullanici_bilgileri}
                        </div>
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel for="ad" value="#{lbl.ad}" style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="ad" value="#{kullaniciIslemleri.selected.ad}"/>

                            <h:outputLabel for="soyad" value="#{lbl.soyad}" style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="soyad" value="#{kullaniciIslemleri.selected.soyad}"/>

                            <h:outputLabel for="email" value="#{lbl.kullanici_email}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="email" value="#{kullaniciIslemleri.selected.email}"/>

                            <h:outputLabel for="telefon" value="#{lbl.kullanici_tlefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel id="telefon" value="#{kullaniciIslemleri.selected.gsm}"/>

                        </h:panelGrid>

                    </p:panel>

                    <div class="EmptyBox10"></div>

                    <p:panel>
                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-lock-1 orange"></i> #{lbl.rol_islemleri}
                        </div>
                        <div class="EmptyBox5"></div>
                        <p:pickList id="pojoPickList" value="#{kullaniciIslemleri.selectedRolList}"
                                    var="rolVar"
                                    itemValue="#{rolVar}" itemLabel="#{rolVar.ad}"
                                    converter="#{rolConverter}"
                                    showSourceControls="true" showTargetControls="true" showCheckbox="true"
                                    showSourceFilter="true" showTargetFilter="true"
                                    filterMatchMode="contains">

                            <f:facet name="sourceCaption">
                                <h:outputText value="#{lbl.kullanici_rolleri}"/>
                            </f:facet>
                            <f:facet name="targetCaption">
                                <h:outputText value="#{lbl.rol_listesi}"/>
                            </f:facet>

                            <p:column style="width:75%;">
                                #{rolVar.ad}
                            </p:column>

                        </p:pickList>

                    </p:panel>

                    <h:panelGrid columns="3">
                        <p:commandButton id="btn_kullanici_rol_iliskilendir" value="#{lbl.ortak_guncelle}"
                                         action="#{kullaniciIslemleri.updateKullaniciRolList}">
                            <p:confirm header="#{lbl.kullanici_rol_iliskilendirme}"
                                       message="#{msg.islemi_onayliyormusunuz}" icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton value="#{lbl.ortak_geri_don}" immediate="true"
                                         action="#{kullaniciIslemleri.geriDon}"/>
                    </h:panelGrid>

                </div>
            </div>
        </h:form>
    </ui:define>


    <ui:define name="body">

    </ui:define>
</ui:composition>