<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.kullanici_ekleme_islemleri}"/>
    </ui:define>

    <ui:define name="content">

        <div style="height:10px"></div>

        <h:form id="main_form">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>
                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-user-outline orange"></i> #{lbl.kullanici_ekle}
                        </div>
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel for="ad" value="#{lbl.ad} (*)" style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="ad" value="#{kullaniciController.yeniKullanici.ad}" required="true"
                                         label="#{lbl.ad}"/>

                            <h:outputLabel for="soyad" value="#{lbl.soyad} (*)"
                                                                                                          style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="soyad" value="#{kullaniciController.yeniKullanici.soyad}"
                                         required="true"
                                         label="#{lbl.soyad}"/>

                            <h:outputLabel for="username" value="#{lbl.kullanici_adi} (*)"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="username" value="#{kullaniciController.yeniKullanici.username}"
                                         required="true" label="#{lbl.kullanici_adi}"/>

                            <h:outputLabel for="email" value="#{lbl.kullanici_email}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="email" value="#{kullaniciController.yeniKullanici.email}"
                                         label="#{lbl.kullanici_email}"/>

                            <h:outputLabel for="telefon" value="#{lbl.kullanici_tlefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputMask id="telefon" value="#{kullaniciController.yeniKullanici.gsm}"
                                         label="#{lbl.kullanici_tlefon}" mask="(999) 999-99-99"/>

                            <h:outputLabel for="ev_telefon" value="#{lbl.ev_telefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputMask id="ev_telefon" value="#{kullaniciController.yeniKullanici.evTelefonu}"
                                         mask="(999) 999-99-99"/>

                            <h:outputLabel for="is_telefon" value="#{lbl.is_telefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputMask id="is_telefon" value="#{kullaniciController.yeniKullanici.isTelefonu}"
                                         mask="(999) 999-99-99"/>

                            <h:outputLabel for="tcid" value="#{lbl.kullanici_tcid}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="tcid" value="#{kullaniciController.yeniKullanici.tckimlik}"
                                         label="#{lbl.kullanici_tcid}"/>

                            <h:outputLabel for="password" value="#{lbl.sifre} (*)"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:password id="password" value="#{kullaniciController.yeniKullanici.password}"
                                        feedback="true"
                                        required="true" label="#{lbl.sifre}"/>

                            <h:outputLabel for="adres" value="#{lbl.kullanici_adres}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputTextarea rows="6" cols="50"
                                             value="#{kullaniciController.yeniKullanici.adres}"
                                             id="adres"/>

                            <h:outputLabel for="durum" value="#{lbl.kullanici_durum}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="durum" value="#{kullaniciController.sorguKriteri.durum}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItems value="#{kullaniciController.durumList}" var="drm"
                                               itemValue="#{drm}"
                                               itemLabel="#{drm.aciklama}"/>
                                <f:converter binding="#{durumConverter}"/>
                            </p:selectOneMenu>

                        </h:panelGrid>

                    </p:panel>
                    <h:panelGrid columns="3">
                        <p:commandButton id="btn_kullanici_guncelle" value="#{lbl.kaydet}"
                                         action="#{kullaniciController.add}">
                            <p:confirm header="#{lbl.kullanici_ekle}" message="#{msg.islemi_onayliyormusunuz}"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                    </h:panelGrid>
                </div>
            </div>
        </h:form>
    </ui:define>

    <ui:define name="body">

    </ui:define>
</ui:composition>
