<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.kullanici_guncelleme}"/>
    </ui:define>

    <ui:define name="content">

        <h:form id="kullaniciGuncelleme">
            <div class="Container100">
                <div class="ContainerIndent">

                    <p:messages showDetail="false" autoUpdate="true" closable="true"/>

                    <h3>#{lbl.kullanici_guncelleme}</h3>

                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-user-outline orange"></i> #{lbl.label_kullanici_bilgileri}
                        </div>
                        <p:panelGrid columns="4" layout="grid" columnClasses="ui-grid-col-2 , ui-grid-col-3 , ui-grid-col-2 , ui-grid-col-3">
                            <h:outputLabel for="ad" value="#{lbl.ad} (*)" style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="ad" value="#{kullaniciIslemleri.selected.ad}" required="true"
                                         label="#{lbl.ad}"/>

                            <h:outputLabel for="soyad" value="#{lbl.soyad} (*)"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="soyad" value="#{kullaniciIslemleri.selected.soyad}" required="true"
                                         label="#{lbl.soyad}"/>

                            <h:outputLabel for="username" value="#{lbl.kullanici_adi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="username" value="#{kullaniciIslemleri.selected.username}" disabled="true"
                                         label="#{lbl.kullanici_adi}"/>

                            <h:outputLabel for="email" value="#{lbl.kullanici_email}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="email" value="#{kullaniciIslemleri.selected.email}"
                                         label="#{lbl.kullanici_email}"/>

                            <h:outputLabel for="phone" value="#{lbl.kullanici_tlefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputMask id="phone" value="#{kullaniciIslemleri.selected.gsm}" mask="(999) 999-99-99"/>

                            <h:outputLabel for="ev_telefon" value="#{lbl.ev_telefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputMask id="ev_telefon" value="#{kullaniciIslemleri.selected.evTelefonu}"
                                         mask="(999) 999-99-99"/>

                            <h:outputLabel for="is_telefon" value="#{lbl.is_telefon}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputMask id="is_telefon" value="#{kullaniciIslemleri.selected.isTelefonu}"
                                         mask="(999) 999-99-99"/>

                            <h:outputLabel for="tcidkimlik" value="#{lbl.kullanici_tcid}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="tcidkimlik" value="#{kullaniciIslemleri.selected.tckimlik}"/>

                            <h:outputLabel for="adres" value="#{lbl.kullanici_adres}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputTextarea rows="6" cols="50" value="#{kullaniciIslemleri.selected.adres}"
                                             id="adres"/>

                            <h:outputLabel for="durum" value="#{lbl.kullanici_durum}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="durum" value="#{kullaniciIslemleri.selected.durum}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItems value="#{kullaniciIslemleri.durumList}" var="drm" itemValue="#{drm}"
                                               itemLabel="#{drm.aciklama}"/>
                                <f:converter binding="#{durumConverter}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>

                    </p:panel>

                    <h:panelGrid columns="3">
                        <p:commandButton id="btn_kullanici_guncelle" value="#{lbl.ortak_guncelle}"
                                         action="#{kullaniciIslemleri.update}">
                            <p:confirm header="#{lbl.kullanici_guncelleme}" message="#{msg.islemi_onayliyormusunuz}"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton value="#{lbl.ortak_geri_don}" immediate="true"
                                         action="#{kullaniciIslemleri.geriDon}"/>
                    </h:panelGrid>
                </div>
            </div>
        </h:form>
    </ui:define>


    <ui:define name="body">

    </ui:define>
</ui:composition>
