<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.kullanici_islemleri}"/>
    </ui:define>

    <ui:define name="content">

        <div class="EmptyBox10"></div>
        <p:messages id="messagess" showDetail="false" autoUpdate="true" closable="true"/>

        <h:form id="main_form">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:panel>

                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-user-1 orange"></i> <h:outputText
                                value="#{lbl.kullanici_islemleri}"
                                styleClass="FontBold Fs18 hardblue"></h:outputText>

                            <h:outputText value="#{lbl.label_tum_kriterler}" styleClass="Fright"/>
                            <p:selectBooleanCheckbox value="#{kullaniciController.tumKriterlerMi}"
                                                     styleClass="Fright"
                                                     style="margin-right: 5px;"
                                                     onLabel="#{lbl.label_evet}"
                                                     offLabel="#{lbl.label_hayir}">
                                <p:ajax update="main_form"/>
                            </p:selectBooleanCheckbox>
                        </div>


                        <p:panelGrid columns="4" layout="grid" columnClasses="ui-grid-col-2 , ui-grid-col-3 , ui-grid-col-2 , ui-grid-col-3">
                            <h:outputLabel for="ad" value="#{lbl.ad}" style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="ad" value="#{kullaniciController.sorguKriteri.ad}"
                                         disabled="#{not sessionInfo.adminMi}"/>

                            <h:outputLabel for="soyad" value="#{lbl.soyad}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="soyad" value="#{kullaniciController.sorguKriteri.soyad}"
                                         disabled="#{not sessionInfo.adminMi}"/>

                            <h:outputLabel for="username" value="#{lbl.kullanici_adi}"
                                           style="font-weight:bold; color: #0b4170"
                                           rendered="#{kullaniciController.tumKriterlerMi}"/>
                            <p:inputText id="username" value="#{kullaniciController.sorguKriteri.kullaniciAdi}"
                                         rendered="#{kullaniciController.tumKriterlerMi}"/>

                            <h:outputLabel for="rol" value="#{lbl.rol}" style="font-weight:bold; color: #0b4170"
                                           rendered="#{kullaniciController.tumKriterlerMi}"/>
                            <p:selectOneMenu id="rol" value="#{kullaniciController.sorguKriteri.rol}"
                                             rendered="#{kullaniciController.tumKriterlerMi}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems value="#{kullaniciController.rolList}" var="rolvar"
                                               itemValue="#{rolvar}"
                                               itemLabel="#{rolvar.ad}"/>
                                <f:converter binding="#{rolConverter}"/>
                            </p:selectOneMenu>

                            <h:outputLabel for="rolTipi" value="#{lbl.rol_tipi}"
                                           style="font-weight:bold; color: #0b4170"
                                           rendered="#{kullaniciController.tumKriterlerMi}"/>
                            <p:selectOneMenu id="rolTipi"
                                             value="#{kullaniciController.sorguKriteri.sistemYoneticisiMi}"
                                             rendered="#{kullaniciController.tumKriterlerMi}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                                <f:selectItems value="#{kullaniciController.rolTipiList}" var="rolTipi"
                                               itemValue="#{rolTipi}"
                                               itemLabel="#{rolTipi.aciklama}"/>
                                <f:converter binding="#{evetHayirConverter}"/>
                            </p:selectOneMenu>

                            <h:outputLabel for="firma_no" value="#{lbl.firma_no}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="firma_no" value="#{kullaniciController.sorguKriteri.firmaNo}"/>

                            <h:outputLabel for="e_mail" value="#{lbl.kullanici_email}"
                                           style="font-weight:bold; color: #0b4170"
                                           rendered="#{kullaniciController.tumKriterlerMi}"/>
                            <p:inputText id="e_mail" value="#{kullaniciController.sorguKriteri.email}"
                                         rendered="#{kullaniciController.tumKriterlerMi}"/>

                            <h:outputLabel for="durum" value="#{lbl.kullanici_durum}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:selectOneMenu id="durum" value="#{kullaniciController.sorguKriteri.durum}"
                                             style="font-weight:bold; color: #0b4170">
                                <f:selectItems value="#{kullaniciController.durumList}" var="drm"
                                               itemValue="#{drm}"
                                               itemLabel="#{drm.aciklama}"/>
                                <f:converter binding="#{durumConverter}"/>
                            </p:selectOneMenu>

                            <h:panelGroup/><h:panelGroup/>

                            <p:commandButton value="#{lbl.ortak_sorgula}"
                                             action="#{kullaniciController.getKullaniciListBySorguKriteri()}"
                                             update=":main_form"/>

                        </p:panelGrid>

                    </p:panel>
                </div>
            </div>

            <div class="EmptyBox10"></div>
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:panel rendered="#{not empty kullaniciController.dataModel.wrappedData}">
                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-list orange"></i> #{lbl.sorgu_sonucu}
                        </div>
                        <div class="EmptyBox5"></div>
                        <p:dataTable id="kullaniciList" value="#{kullaniciController.dataModel}" var="varKullanici"
                                     emptyMessage="#{msg.no_record_found}"
                                     paginatorPosition="bottom" sortMode="multiple"
                                     paginator="true" rows="20" reflow="true"
                                     selection="#{kullaniciController.selected}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column >
                                <p:rowToggler/>
                            </p:column>
                            <p:column headerText="#{lbl.ad}" sortBy="#{varKullanici.ad}">
                                <h:outputText value="#{varKullanici.ad}"/>
                            </p:column>
                            <p:column headerText="#{lbl.soyad}" sortBy="#{varKullanici.soyad}">
                                <h:outputText value="#{varKullanici.soyad}"/>
                            </p:column>
                            <p:column headerText="#{lbl.kullanici_adi}" sortBy="#{varKullanici.username}">
                                <h:outputText value="#{varKullanici.username}"/>
                            </p:column>
                            <p:column headerText="#{lbl.kullanici_tcid}" sortBy="#{varKullanici.tckimlik}">
                                <h:outputText value="#{varKullanici.tckimlik}"/>
                            </p:column>
                            <p:column headerText="#{lbl.durum}" sortBy="#{varKullanici.durum.aciklama}">
                                <h:outputText value="#{varKullanici.durum.aciklama}"/>
                            </p:column>

                            <p:column>
                                <p:menuButton value="#{lbl.label_islemler}" styleClass="OrangeButton Fright">
                                    <p:menuitem id="viewButtonKullaniciGoruntule" value="#{lbl.label_goruntule}"
                                                icon="ui-icon-search"
                                                rendered="#{sessionInfo.isYetkili('kullanici_goruntuleme')}"
                                                action="#{kullaniciController.kullaniciGoruntuleme(varKullanici)}">
                                    </p:menuitem>

                                    <p:menuitem id="viewButtonKullaniciGuncelle" value="#{lbl.ortak_guncelle}"
                                                icon="ui-icon-wrench"
                                                rendered="#{sessionInfo.isYetkili('kullanici_guncelleme')}"
                                                action="#{kullaniciController.kullaniciGuncelleme(varKullanici)}">
                                    </p:menuitem>

                                    <p:menuitem id="viewButtonKullaniciRol" value="#{lbl.label_rol_ata}"
                                                rendered="#{sessionInfo.isYetkili('kullanici_rol_atama')}"
                                                icon="ui-icon-locked"
                                                action="#{kullaniciController.kullaniciRolIliskilendir(varKullanici)}">
                                    </p:menuitem>

                                    <p:menuitem id="resetUserPassword" value="#{lbl.label_sifre_sifirla}"
                                                rendered="#{sessionInfo.isYetkili('kullanici_sifre_sifirlama')}"
                                                icon="ui-icon-key"
                                                action="#{kullaniciController.resetPassword(varKullanici)}">
                                    </p:menuitem>

                                </p:menuButton>

                            </p:column>
                        </p:dataTable>

                    </p:panel>
                </div>
            </div>
        </h:form>

    </ui:define>


    <ui:define name="body">

    </ui:define>
</ui:composition>
