<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.kutukten_veri_aktarma}"/>
    </ui:define>

    <ui:define name="content">

        <p:fieldset legend="#{lbl.kutukten_veri_aktarma}">

            <div style="height:10px"></div>

            <h:form id="main_form">
                <p:panel id="satisPanel">

                    <div class="Container100 Fs20 hardblue">
                        <i class="icon-list orange"></i> #{lbl.label_satis_aktarma}
                    </div>

                    <h:panelGrid columns="1" cellpadding="5">

                    <p:selectOneMenu id="personel_adi" value="#{fileUploadMB.personelAdi}"
                                     rendered="true"
                                     style="width:200px;">

                        <f:selectItem itemLabel="#{lbl.seciniz}" itemValue="#{null}"/>
                        <f:selectItem itemLabel="Celil" itemValue="CELIL"/>
                        <f:selectItem itemLabel="Elif" itemValue="ELIF"/>
                        <f:selectItem itemLabel="Fatih" itemValue="FATIH"/>
                        <f:selectItem itemLabel="Yunus" itemValue="YUNUS"/>
                        <p:ajax event="change"
                                update="@([id$=main_form])"></p:ajax>
                    </p:selectOneMenu>

                        <p:fileUpload label="#{lbl.dosya_sec}" fileUploadListener="#{fileUploadMB.satisAktarFileUpload}"
                                      mode="advanced" dragDropSupport="false"  process="satisPanel"
                                      uploadLabel="#{lbl.yukle}" cancelLabel="#{lbl.iptal}" style="width:100%"
                                      update="satisPanel" sizeLimit="10000000" fileLimit="10"/>

                        <p:growl showDetail="false"/>

                    </h:panelGrid>
                </p:panel>


                <p:panel id="urunPanel">

                    <div class="Container100 Fs20 hardblue">
                        <i class="icon-list orange"></i> #{lbl.label_urun_aktarma}
                    </div>

                    <h:panelGrid columns="1" cellpadding="5">

                        <p:fileUpload label="#{lbl.dosya_sec}" fileUploadListener="#{fileUploadMB.urunAktarFileUpload}"
                                      mode="advanced" dragDropSupport="false"
                                      uploadLabel="#{lbl.yukle}" cancelLabel="#{lbl.iptal}" style="width:100%"
                                      update="urunPanel" sizeLimit="10000000" fileLimit="10"/>

                        <p:growl  showDetail="false"/>

                    </h:panelGrid>
                </p:panel>

                <p:panel id="firmaanel">

                    <div class="Container100 Fs20 hardblue">
                        <i class="icon-list orange"></i> #{lbl.label_firma_aktarma}
                    </div>

                    <h:panelGrid columns="1" cellpadding="5">

                        <p:fileUpload label="#{lbl.dosya_sec}" fileUploadListener="#{fileUploadMB.firmaAktarFileUpload}"
                                      mode="advanced" dragDropSupport="false"
                                      uploadLabel="#{lbl.yukle}" cancelLabel="#{lbl.iptal}" style="width:100%"
                                      update="firmaanel" sizeLimit="10000000" fileLimit="10"/>

                        <p:growl  showDetail="false"/>

                    </h:panelGrid>
                </p:panel>


            </h:form>

        </p:fieldset>
    </ui:define>

    <ui:define name="body">

    </ui:define>
</ui:composition>