<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.rol_islemleri}"/>
    </ui:define>

    <ui:define name="content">

        <h:form id="main_form">
            <div class="Container100">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>

                    <p:panel>

                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-lock-open-1 orange"></i> #{lbl.rol_islemleri}
                        </div>
                        <div class="EmptyBox10"></div>
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel for="ad" value="#{lbl.rol_ad}" style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="ad" value="#{rolController.sorguKriteri.ad}" size="50"/>

                            <h:outputLabel for="yetki_adi" value="#{lbl.label_yetki_adi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:inputText id="yetki_adi" value="#{rolController.sorguKriteri.yetkiAdi}" size="50"/>


                            <p:commandButton value="#{lbl.ortak_sorgula}"
                                             action="#{rolController.getRolListBySorguKriteri()}"
                                             update=":main_form"/>

                        </h:panelGrid>

                    </p:panel>

                    <div class="EmptyBox10"></div>

                    <p:panel rendered="#{not empty rolController.dataModel.wrappedData}">
                        <div class="Container100 Fs20 hardblue">
                            <i class="icon-list orange"></i> #{lbl.sorgu_sonucu}
                        </div>
                        <div class="EmptyBox5"></div>
                        <p:dataTable value="#{rolController.dataModel}" var="varRol" paginatorPosition="bottom"
                                     paginator="true" rows="10" emptyMessage="#{msg.no_record_found}" reflow="true"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">

                            <p:column headerText="#{lbl.rol_ad}" sortBy="#{varRol.ad}">
                                <h:outputText value="#{varRol.ad}"/>
                            </p:column>
                            <p:column headerText="#{lbl.durum}" sortBy="#{varRol.durum.aciklama}">
                                <h:outputText value="#{varRol.durum.aciklama}"/>
                            </p:column>
                            <p:column headerText="#{lbl.rol_tipi}" sortBy="#{varRol.sistemYoneticisiMi.aciklama}">
                                <h:outputText value="#{varRol.sistemYoneticisiMi.aciklama}"/>
                            </p:column>

                            <p:column>

                                <p:menuButton value="#{lbl.label_islemler}" styleClass="Fright OrangeButton">
                                    <p:menuitem id="viewButtonYetkiGoruntule" value="#{lbl.yetki_goruntule}"
                                                icon="ui-icon-search"
                                                action="#{rolController.rolGoruntuleme(varRol)}">
                                    </p:menuitem>

                                    <p:menuitem id="viewButtonYetkiGuncelle" value="#{lbl.yetki_guncelle}"
                                                icon="ui-icon-wrench"
                                                action="#{rolController.rolGuncelleme(varRol)}">
                                    </p:menuitem>
                                </p:menuButton>

                            </p:column>

                        </p:dataTable>

                    </p:panel>
                </div>
            </div>
        </h:form>

    </ui:define>

    <ui:define name="body">

    </ui:define>
</ui:composition>
