<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ps="http://primefaces.org/sentinel"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{lbl.yetki_goruntule}"/>
    </ui:define>

    <ui:define name="content">

        <h:form id="yetkiIslemleri">
            <div class="Container100">
                <div class="ContainerIndent">

                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-data-science-inv orange"></i> #{lbl.yetki_goruntule}
                        </div>
                        <div class="EmptyBox10"></div>
                        <h:panelGrid columns="2">
                            <h:outputLabel for="rol_konu" value="#{lbl.rol_ad}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel value="#{rolIslemleriMB.selected.ad}"
                                           id="rol_konu"/>

                            <h:outputLabel for="rolTipi" value="#{lbl.rol_tipi}"
                                           style="font-weight:bold; color: #0b4170"/>
                            <p:outputLabel value="#{rolIslemleriMB.selected.sistemYoneticisiMi.aciklama}"
                                           id="rolTipi"/>
                        </h:panelGrid>


                    </p:panel>

                    <div class="EmptyBox10"></div>

                    <p:panel>

                        <div class="Container100 Responsive Fs20 hardblue">
                            <i class="icon-lock-open-1 orange"></i> #{lbl.yetki_islemleri}
                        </div>
                        <div class="EmptyBox10"></div>

                        <p:tree value="#{rolIslemleriMB.yetkiList}" var="node" style="width: auto;"
                                selectionMode="checkbox"
                                selection="#{rolIslemleriMB.selectedyetkiList}">

                            <p:treeNode>
                                <h:outputText value="#{node.ad}"/>
                            </p:treeNode>

                        </p:tree>


                    </p:panel>

                    <h:panelGrid columns="3">
                        <p:commandButton value="#{lbl.ortak_geri_don}" immediate="true"
                                         action="#{rolIslemleriMB.geriDon}"/>
                    </h:panelGrid>

                </div>
            </div>
        </h:form>
    </ui:define>


    <ui:define name="body">

    </ui:define>
</ui:composition>
