<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="WEB-INF/template.xhtml">

    <ui:define name="content">
        <h:form id="anasayfa_form">
            <p:growl id="growl" showDetail="false" life="5000" autoUpdate="true" escape="true"/>

            <p:remoteCommand global="false" name="onload1" action="#{anasayfaMB.loadVisitorsReport()}" autoRun="true"
                             update="visitors_report"/>
            <p:remoteCommand global="false" name="onload7" action="#{anasayfaMB.prepareIletisimBilgi()}" autoRun="true"
                             update="@([id$=anasayfa_iletisim])"/>

            <div class="Container25 Responsive">
                <div class="ContainerIndent">
                    <p:panel style="min-height: 270px" styleClass="white-back">
                        <pe:gravatar value="#{sessionInfo.kullanici.email}" size="60" notFound="mm"
                                     style="border-radius: 50%;"/>

                        <div class="Fs16 Fright MarTop10 leaden Wid70">
                                            <span class="hardblue"><h:outputText
                                                    value="#{sessionInfo.kullanici.ad} #{sessionInfo.kullanici.soyad}"/> </span>
                            <h:outputText
                                    value="#{lbl.label_hosgeldiniz}"/>

                            <h:panelGrid columns="2" rendered="#{notificationMB.aktifNotificationsCount()> 0}"
                                         styleClass="Fs11">
                                <h:outputText styleClass="Fs11"
                                              value="#{lbl.label_okunmamis}"/>
                                <h:outputText
                                        value="#{notificationMB.aktifNotificationsCount()} #{lbl.label_mesaj_var}"
                                        styleClass="red Fs11"/>
                            </h:panelGrid>
                        </div>

                        <div class="EmptyBox5"></div>
                        <p:separator styleClass="Wid100"></p:separator>

                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <i class="icon-star orange"></i>#{lbl.label_hizli_islemler}
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="EmptyBox5"></div>
                        <p:separator styleClass="Wid100"></p:separator>

                        <div class="EmptyBox5"></div>
                        <p:commandLink
                                styleClass="DispInlBlock Fleft Fs12 MarRight20 icon-key hardblue"
                                update="@([id$=sifreDegistirme])"
                                value="#{lbl.sifre_degistirme}"
                                oncomplete="PF('sifreDegistirmePopup').show();">
                        </p:commandLink>

                        <p:commandLink
                                styleClass="DispInlBlock Fleft Fs12 MarRight20 icon-cog-alt hardblue"
                                value="#{lbl.label_profil_ayarlari}"
                                action="#{anasayfaMB.kullaniciGuncelleme()}">
                        </p:commandLink>

                        <div class="EmptyBox5"></div>
                        <i class="icon-key softgray MarRight10 Fs11 Fright"> <h:outputText
                                value="#{lbl.label_sisteme_son_giris_tarihi}"/> -
                            <h:outputText value="#{sessionInfo.lastLoginDate}">
                                <f:convertDateTime pattern="dd/MM/yyyy-HH:mm:ss"/>
                            </h:outputText>
                        </i>

                    </p:panel>
                </div>
            </div>

            <div class="Container25 Responsive">
                <div class="ContainerIndent">
                    <h:panelGroup id="visitors_report" style="min-height: 270px;">
                        <h:panelGroup rendered="#{not anasayfaMB.visitorsReportLoaded}">
                            <img src="#{request.contextPath}/images/ajax_loader_blue_48.gif"
                                 style="display:block;margin: 0 auto;" alt=""/>
                        </h:panelGroup>
                        <p:panel style="min-height: 270px;" styleClass="white-back"
                                 rendered="#{anasayfaMB.visitorsReportLoaded}">
                            <i class=" icon-data-science-inv Fs50 Fleft Wid25 orange TexAlCenter"></i>

                            <div class="Fs24 Fright MarTop10 leaden Wid70">#{lbl.lbl_visitors_report}</div>

                            <div class="EmptyBox10"></div>
                            <p:separator styleClass="Wid100"></p:separator>

                            <div class="EmptyBox10"></div>
                            <div class="Fs12 Fright leaden Wid50 TexAlCenter Responsive">#{lbl.lbl_todays_visitors}
                                <br/><span
                                        class="Fs24 red">#{anasayfaMB.todaysVisitors}</span></div>
                            <div class="Fs12 Fright leaden Wid50 TexAlCenter Responsive">#{lbl.lbl_total_visitors}
                                <br/><span
                                        class="Fs24 orange">#{anasayfaMB.totalVisitors}</span></div>

                            <div class="EmptyBox10"></div>

                            <div class="Fs12 Fright leaden Wid100 TexAlCenter">#{lbl.lbl_online_visitors}
                                <br/><span
                                        class="Fs24 hardblue">#{anasayfaMB.onlineVisitors}</span></div>
                            <div class="EmptyBox10"></div>
                        </p:panel>
                    </h:panelGroup>

                </div>
            </div>


            <div class="Container25 Responsive">
                <div class="ContainerIndent">

                </div>
            </div>


            <div class="Container25 Responsive">
                <div class="ContainerIndent">


                </div>
            </div>


            <div class="Container70 Responsive">
                <div class="ContainerIndent">


                </div>
            </div>

        </h:form>

        <p:socket channel="/notifyRandevu">
            <p:ajax event="message" update="@([id$=schedule])"/>
        </p:socket>

        <ui:include src="pages/sistemYonetimi/iletisimEkleme.xhtml">
            <ui:param name="entityMB" value="#{anasayfaMB}"/>
            <ui:param name="formName" value="anasayfa_iletisim"/>
        </ui:include>
        <ui:include src="pages/sistemYonetimi/sifreDegistirme.xhtml"/>
    </ui:define>

</ui:composition>