<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>LeFe Kurumsal Online İşlemleri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <h:outputScript name="js/login.js" library="sentinel-layout"/>
    <h:outputStylesheet name="css/font-icon-layout.css"
                        library="sentinel-layout"/>
    <h:outputStylesheet name="css/sentinel-layout.css"
                        library="sentinel-layout"/>
    <h:outputStylesheet name="css/core-layout.css"
                        library="sentinel-layout"/>
    <link type="text/css" rel="stylesheet" href="#{request.contextPath}/sablon/css/stil-login.css"/>
</h:head>
<f:view contentType="text/html" locale="#{misafirKullaniciOzellikleri.kullaniciLocale}">

    <h:body class="body fontRegular white-back">


        <div class="Container80 MaxWid500 Fnone MarAuto TexAlCenter PaddingTopPercent10">
            <a href="" id="login-logo">
                <h:graphicImage name="images/aymer_logo_72.png" styleClass="Fleft" library="sentinel-layout"/>

            <span class="Fs30 FontTitilliumSemiBoldItalic Fleft"><span class="softblue">LEVO-FEHMİ</span><span
                    class="hardblue">ONLINE</span></span>
            </a>

            <div class="EmptyBox10"></div>
        </div>

        <!-- LOGIN BOX COVER START -->
        <div class="Container80 MaxWid500 white-back Fnone MarAuto BordRad10" id="login-box">
            <div class="Container100">
                <div class="Container50 TexAlCenter Animated05 BoxSizeBorder TabBtn left TabBtnActiveLeft" role="1">
                    <div class="Container80 Fnone MarAuto FontBold"><i class="icon-lock"></i> <h:outputLabel
                            value="#{lbl.label_giris}"/></div>
                </div>
                <div class="Container50 TexAlCenter Animated05 BoxSizeBorder TabBtn right" role="2">
                    <div class="Container80 Fnone MarAuto FontBold"><i
                            class="icon-key-1"></i> #{lbl.label_sifremi_unuttum} </div>
                </div>


                <div class="Container90 Fnone MarAuto TexAlCenter TabContent" id="TAB1">
                    <h:form id="loginForm"
                            prependId="false">

                        <div class="EmptyBox30"></div>
                        <p:messages id="hataliDenemeMsg" closable="true" showIcon="false"/>

                        <p:inputText
                                id="j_username" label="#{lbl.kullanici_adi}"
                                required="true" styleClass="Container80 Fnone MarAuto Fs18"
                                placeholder="#{lbl.kullanici_adi}">
                        </p:inputText>

                        <div class="EmptyBox10"></div>
                        <p:password
                                id="j_password" label="#{lbl.sifre}"
                                required="true" styleClass="Container80 Fnone MarAuto Fs18" feedback="false"
                                placeholder="#{lbl.sifre}">
                        </p:password>

                        <div class="EmptyBox10"></div>

                        <div class="EmptyBox30"></div>
                        <p:commandButton
                                id="login" process="@form" ajax="false"
                                action="#{loginMB.doLogin}"
                                value="#{lbl.label_giris}" styleClass="Fs16"
                                update=":hataliDenemeMsg"/>

                        <div class="EmptyBox50"></div>
                    </h:form>

                </div>


                <div class="Container90 Fnone MarAuto DispNone TexAlCenter TabContent" id="TAB2">
                    <h:form id="sifreForm"
                            prependId="false">

                        <div class="EmptyBox30"></div>
                        <p:messages id="hataliDenemeMsgS" closable="true" showIcon="false"/>
                        <p:inputText id="sifreUnuttumEmail" required="true"
                                     value="#{loginMB.email}" label="#{lbl.label_email}"
                                     placeholder="#{lbl.label_mail_adres_gir}"
                                     styleClass="Container80 Fnone MarAuto Fs18"/>

                        <div class="EmptyBox20"></div>
                        <p:commandButton styleClass="Fs16" update="@([id$=hataliDenemeMsgS])"
                                         value="#{lbl.label_btn_gonder}" process="@form"
                                         actionListener="#{loginMB.sifreHatirlatmaIstekGonder()}"/>

                        <div class="EmptyBox50"></div>
                    </h:form>

                </div>
            </div>
        </div>
        <!-- LOGIN BOX COVER END -->

    </h:body>
</f:view>

</html>