<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<f:view contentType="text/html" locale="#{misafirKullaniciOzellikleri.kullaniciLocale}">
    <h:head>
        <h:outputScript name="js/layout.js" library="sentinel-layout"/>
        <h:outputStylesheet name="css/font-icon-layout.css"
                            library="sentinel-layout"/>
        <h:outputStylesheet name="css/sentinel-layout.css"
                            library="sentinel-layout"/>
        <h:outputStylesheet name="css/core-layout.css"
                            library="sentinel-layout"/>
    </h:head>

    <h:body class="fontRegular login-back white-back">
        <h:form id="main_form">

            <div class="Container50 Fnone MarAuto Responsive">
                <div class="ContainerIndent">
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>
                    <h3>#{lbl.label_kullanici_kayitli_site}</h3>
                    <p:panel styleClass="white-back">
                        <span class="FontBold Fs18 hardblue Container100">#{lbl.label_uyari}</span>

                        <div class="fontRegular  Container100 Responsive">
                            <div class="ContainerIndent">
                                <ol>
                                    <li>
                                        <h:outputText value="#{msg.info_firma_listesi_birini_seciniz}"
                                                      style="font-size:16px; color: red;"/>
                                    </li>
                                    <li>
                                        <h:outputText value="#{msg.info_firma_listesi_birini_seciniz_2}"
                                                      style="font-size:16px; color: red;"/>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </p:panel>

                    <div class="EmptyBox20"></div>

                    <p:panel styleClass="white-back">
                        <span class="FontBold Fs18 hardblue Container100">#{lbl.kullanici_bilgileri}</span>

                        <div class="Container100 Responsive">
                            <div class="ContainerIndent">
                                <h:panelGrid columns="4" cellpadding="5">
                                    <h:outputLabel for="ad" value="#{lbl.ad}" style="font-weight:bold; color: #0b4170"/>
                                    <p:outputLabel id="ad" value="#{preLoginMB.sessionInfo.kullanici.ad}"/>

                                    <h:outputLabel for="soyad" value="#{lbl.soyad}" style="font-weight:bold; color: #0b4170"/>
                                    <p:outputLabel id="soyad" value="#{preLoginMB.sessionInfo.kullanici.soyad}"/>

                                    <h:outputLabel for="username" value="#{lbl.kullanici_adi}"
                                                   style="font-weight:bold; color: #0b4170"/>
                                    <p:outputLabel id="username" value="#{preLoginMB.sessionInfo.kullanici.username}"/>

                                    <h:outputLabel for="email" value="#{lbl.kullanici_email}" style="font-weight:bold; color: #0b4170"/>
                                    <p:outputLabel id="email" value="#{preLoginMB.sessionInfo.kullanici.email}"/>

                                </h:panelGrid>
                            </div>
                        </div>
                    </p:panel>

                    <div class="EmptyBox20"></div>

                    <p:panel styleClass="white-back">
                        <span class="FontBold Fs18 hardblue Container100">#{lbl.label_site_listesi}</span>

                        <div class="fontRegular white-back Container100 Responsive">
                            <div class="ContainerIndent">
                                <p:dataTable id="kullaniciSirketTable" value="#{preLoginMB.dataModel}" var="varSirket"
                                             reflow="true" paginatorPosition="bottom" emptyMessage="#{msg.no_record_found}"
                                             selection="#{preLoginMB.selected}" selectionMode="single" rowKey="#{varSirket.sirket.id}">

                                    <p:column headerText="Şirket Adı">
                                        <h:outputText value="#{varSirket.sirket.sirketAdi}"/>
                                    </p:column>
                                    <p:column headerText="Logo">
                                        <p:graphicImage value="/images/sirket/#{varSirket.sirket.sirketLogo}.png"/>
                                    </p:column>

                                </p:dataTable>
                            </div>
                        </div>
                    </p:panel>

                    <div class="EmptyBox10"></div>

                    <p:commandButton id="cont_button" action="#{preLoginMB.continueToIndex}" value="#{lbl.lbl_devam}" styleClass="GreenButton"/>

                </div>
            </div>
        </h:form>


    </h:body>
</f:view>
</html>
