<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
        >

<h:head>
    <title>LEFE ONLINE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <h:outputStylesheet name="css/font-icon-layout.css" library="sentinel-layout"/>
    <h:outputStylesheet name="css/sentinel-layout.css" library="sentinel-layout"/>
    <h:outputStylesheet name="css/core-layout.css" library="sentinel-layout"/>
</h:head>

<h:body class="fontRegular">

    <div class="Container100 Top20Percent PosAbsolute MarAuto OvHidden">
        <div class="Wid50 MarAuto OvHidden TexAlCenter">
            <h:graphicImage name="images/access-denied.svg" library="sentinel-layout" style="width: 140px;"/>

            <div class="EmptyBox20"></div>
            <span class="white Fs60 Wid100 DispBlock">Sayın #{sessionInfo.getKullanici.getAdSoyad};</span>
            <span class="white Wid100 DispBlock Fs24">#{sessionInfo.getSirket.getSirketAdi} icin anlasmamiz sona ermistir.</span><br/>
            <span class="white Wid100 DispBlock Fs12">Anlayisiniz icin tesekkurler.<br/>
            </span>

        </div>
    </div>

</h:body>

</html>
