<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ps="http://primefaces.org/sentinel"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <div id="layout-menubar" class="Unselectable fontRegular">
        <div class="layout-menubarinner-box" id="buttonArea">
            <a href="#" id="layout-menubar-resize" class="BordRad3" title="Menu Resize"><i
                    class="icon-th-list-2"></i></a>
            <a href="#" id="layout-menubar-resize2" class="BordRad3" title="Open Menu"><i class="icon-menu"></i></a>
        </div>

        <ps:menu id="sm_leftmenu">
            <p:menuitem id="sm_dashboard" value="#{lbl.anasayfa}" icon="icon-home-outline" url="/dashboard.xhtml"
            />
            <p:submenu label="#{lbl.sistem_yonetimi}" icon="icon-wrench-outline"
                       rendered="#{sessionInfo.isYetkili('sistem_yonetimi')}">
                <p:menuitem value="#{lbl.kutukten_veri_aktarma}" url="/pages/sistemYonetimi/kutuktenVeriAktarma.jsf"
                            rendered="#{sessionInfo.isYetkili('sistem_ayarlari')}"/>

                <p:submenu label="#{lbl.kullanici_yonetimi}" icon="icon-users"
                           rendered="#{sessionInfo.isYetkili('kullanici_islemleri')}">
                    <p:menuitem value="#{lbl.kullanici_islemleri}" url="/pages/sistemYonetimi/kullaniciSorgula.jsf"
                                icon="icon-vcard"
                                rendered="#{sessionInfo.isYetkili('kullanici_sorgulama')}"/>
                    <p:menuitem value="#{lbl.kullanici_ekleme_islemleri}" url="/pages/sistemYonetimi/kullaniciEkle.jsf"
                                icon="icon-user-add"
                                rendered="#{sessionInfo.isYetkili('kullanici_ekleme')}"/>
                </p:submenu>

                <p:submenu label="#{lbl.rol_yonetimi}" icon="icon-lock-2"
                           rendered="#{sessionInfo.isYetkili('rol_yetki_islemleri')}">
                    <p:menuitem value="#{lbl.rol_islemleri}" url="/pages/sistemYonetimi/rolSorgula.jsf"
                                icon="icon-building"
                                rendered="#{sessionInfo.isYetkili('rol_sorgulama')}"/>
                    <p:menuitem value="#{lbl.rol_ekleme}" url="/pages/sistemYonetimi/rolEkleme.jsf" icon="icon-plus"
                                rendered="#{sessionInfo.isYetkili('rol_ekleme')}"/>
                </p:submenu>

                <p:submenu label="#{lbl.menu_bildirim_islemleri}" icon="icon-share"
                           rendered="#{sessionInfo.isYetkili('yetki_bildirim_tipi_islemleri')}">
                    <p:menuitem value="#{lbl.menu_bildirim_tipi_islemleri}" icon="icon-mail"
                                url="/pages/sistemYonetimi/bildirimTipiSorgula.jsf"
                                rendered="#{sessionInfo.isYetkili('yetki_bildirim_tipi_islemleri')}"/>
                    <p:menuitem value="#{lbl.label_bildirim_sorgulama}" icon="icon-mail"
                                url="/pages/sistemYonetimi/bildirimSorgula.jsf"
                                rendered="#{sessionInfo.isYetkili('yetki_bildirim_islemleri')}"/>
                </p:submenu>


                <p:menuitem value="#{lbl.kutukten_veri_aktarma}"
                            url="/pages/sistemYonetimi/kutuktenBorcAktarmaIslemleri.jsf"
                            rendered="false"/>
            </p:submenu>

            <p:submenu label="#{lbl.label_kitap_islemleri}" icon="icon-wrench-outline"
                       rendered="#{sessionInfo.isYetkili('yetki_kitap_islemleri')}">
                <p:menuitem value="#{lbl.label_kitap_sorgulama}" url="/pages/kitapIslemleri/kitapSorgula.jsf"
                            rendered="#{sessionInfo.isYetkili('yetki_kitap_sorgulama')}"/>
                <p:menuitem value="#{lbl.label_kitap_ekleme}" url="/pages/kitapIslemleri/kitapEkleme.jsf"
                            rendered="#{sessionInfo.isYetkili('yetki_kitap_ekleme')}"/>
            </p:submenu>


            <p:submenu label="#{lbl.raporlama_islemleri}" icon="icon-file-pdf"
                       rendered="#{sessionInfo.isYetkili('rapor_islemleri')}">
                <p:menuitem value="#{lbl.menu_rapor_bayi_bazinda_toplam_satislar}"
                            icon="icon-file-pdf"
                            url="/pages/raporIslemleri/R101.jsf"/>
            </p:submenu>

            <p:menuitem value="#{lbl.lbl_hakkimizda}"
                        icon="icon-info-1"
                        url="/pages/hakkimizda.jsf"/>
        </ps:menu>

    </div>

</ui:composition>
