<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions">
<f:view contentType="text/html" locale="#{misafirKullaniciOzellikleri.kullaniciLocale}">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
        </f:facet>
        <title>LEFE ONLINE</title>
        <h:outputStylesheet name="css/font-icon-layout.css" library="sentinel-layout"/>
        <h:outputStylesheet name="css/sentinel-layout.css" library="sentinel-layout"/>
        <h:outputStylesheet name="css/core-layout.css" library="sentinel-layout"/>
        <h:outputStylesheet name="css/project-css.css" library="sentinel-layout"/>

        <h:outputScript name="js/layout.js" library="sentinel-layout"/>
        <script type="text/javascript" src="#{request.contextPath}/scripts/javaScripts.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/scripts/translations.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">

            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages': ['corechart']});
        </script>
        <ui:insert name="head"/>
    </h:head>

    <h:body>

        <p:ajaxStatus onstart="PF('blockUIWidget').block()" oncomplete="PF('blockUIWidget').unblock()"/>

        <pe:blockUI widgetVar="blockUIWidget">
            <h:graphicImage library="sentinel-layout" name="images/preloader.gif"
                            style="width:32px; height:32px; position:fixed; left:12px; bottom:10px"/>
        </pe:blockUI>

        <p:dialog modal="true" appendTo="@(body)" widgetVar="statusDialog"
                  header="#{lbl.mesaj_lutfen_bekleyiniz}"
                  draggable="false" closable="false">
            <img src="#{request.contextPath}/images/ajax_loader_blue_48.gif"
                 style="display:block;margin: 0 auto;" alt=""/>
        </p:dialog>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="explode" closeOnEscape="true">
            <p:commandButton value="Evet" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
            <p:commandButton value="Hayir" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
        </p:confirmDialog>


        <ui:include src="topbar.xhtml"/>

        <ui:include src="leftmenu.xhtml"/>

        <div id="layout-portlets-cover" class="fontRegular">
            <ui:insert name="content">

            </ui:insert>
        </div>

        <ui:insert name="endOfBody">

        </ui:insert>

    </h:body>
</f:view>
</html>