<ui:composition

		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://java.sun.com/jsf/html">

	<h:form>
    <div id="layout-header" class="Unselectable fontRegular">
        <a href="#{request.contextPath}/dashboard.xhtml" id="layout-logo">
            <h:graphicImage name="images/aymer_logo_48.png" styleClass="Fleft" library="sentinel-layout"/>
            <span class="Fs19 FontTitilliumSemiBoldItalic Fleft"><span class="softblue">LEVENT</span><span class="hardblue">ONLINE</span></span>
        </a>
    	<ul id="sm-topmenu" class="layout-header-widgets white Fs14">
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-user-male"></i>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a class="white Unselectable"><i class="icon-user-male Fs26 OvHidden"></i><span class="Fs18">#{sessionInfo.kullanici.ad} #{sessionInfo.kullanici.soyad}<br/><span class="Fs12"><br/> <h:outputText
							value="#{lbl.label_sisteme_son_giris_tarihi}"/> - <h:outputText value="#{sessionInfo.lastLoginDate}">
						<f:convertDateTime pattern="dd/MM/yyyy-HH:mm:ss"/>
					</h:outputText></span></span></a></li>
    				<li class="Animated05"><i class="icon-cog-alt"></i> <p:commandLink value="#{lbl.label_profil_ayarlari}" action="#{anasayfaMB.kullaniciGuncelleme()}" styleClass="white Unselectable TexAlCenter"/></li>
    			</ul>
    		</li>
			<ui:remove>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-mail"></i><span class="alertBubble BordRad10 Fs9">166</span>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty yellow"></i>Gustavo Fring<br/><span class="Fs10">What does a man do Walter?</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Skyler White<br/><span class="Fs10">Where are you?.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Hank Schrader<br/><span class="Fs10">Barbecue photos from last weekend.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Jesse Pinkman<br/><span class="Fs10">Mr. White.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Heisenberg<br/><span class="Fs10">I am the one who knocks.</span></a></li>
    			</ul>
    		</li>
			</ui:remove>
			<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-bell"></i><p:commandLink id="btn"
																							  value="#{notificationMB.aktifNotificationsCount()}"
																							  action="#{notificationMB.updateStatus()}"
																							  global="false"
																							  update="btn"
																							  styleClass="alertBubble BordRad10 Fs9"/>
				<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
					<ui:repeat value="#{notificationMB.notificationDataModel}" var="notification">
						<li class="Animated05"><i
								class="icon-flag red"></i><p:commandLink value="#{notification.aciklama}" action="#{notificationMB.onRowSelect(notification)}" styleClass="white Unselectable TexAlRight"/></li>
					</ui:repeat>
				</ul>
			</li>
			<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-wrench-1"></i>
				<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-sun"></i>#{lbl.lbl_ayarlar}</a></li>
					<c:if test="#{sessionInfo.isYetkili('canli_yardim')}">
						<li class="Animated05"><a href="https://dashboard.zopim.com" target="_blank" class="white Unselectable"><i class="icon-wechat"></i>#{lbl.lbl_canli_destek}</a></li>
					</c:if>
					<ui:remove>
					<li class="Animated05"><a href="http://yardim.remasis.net" target="_blank" class="white Unselectable"><i class="icon-help"></i>#{lbl.lbl_help_desk}</a></li>
					</ui:remove>
    			</ul>
    		</li>
			<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-power"></i>
				<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#{request.contextPath}/logout" class="white Unselectable"><i class="icon-logout"></i>#{lbl.cikis}</a></li>
    			</ul>
    		</li>
    	</ul>
    	<!-- NEVER REMOVE FOLLOWING 'UL' TAG ! BECAUSE THIS CONTAINS RESPONSIVE MODE HEADER MENU OPEN-CLOSE BUTTON -->
    	<ul id="sm-mobiletopmenu" class="layout-header-widgets white Fs14">
    		<li class="Fleft BordRadHalf TexAlCenter Animated05 DisplayOnResponsive"><i class="icon-th-1"></i></li>
    	</ul>
    	<!-- ****** -->
   	</div>
	</h:form>
    
</ui:composition>
