@charset "UTF-8";
/* CSS Document */

.TurkuazButton .ui-button-text {
    box-shadow: inset 0 0 0 1px #17b3b2;
    border: solid 1px #0dacb3;
    text-shadow: 0 -1px 0 #15b3b1;
    background: #17b3b2;
    background: -moz-linear-gradient(top, #17b3b2 0%, #0dacb3 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #17b3b2), color-stop(100%, #0dacb3));
    background: -webkit-linear-gradient(top, #17b3b2 0%, #0dacb3 100%);
    background: -o-linear-gradient(top, #17b3b2 0%, #0dacb3 100%);
    background: -ms-linear-gradient(top, #17b3b2 0%, #0dacb3 100%);
    background: linear-gradient(to bottom, #17b3b2 0%, #0dacb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ab394', endColorstr='#0dacb3', GradientType=0);
}

.TurkuazButton:hover .ui-button-text, .TurkuazButton:focus .ui-button-text {
    color: #ffffff !important;
    background: #0dacb3;
    background: -moz-linear-gradient(top, #0dacb3 0%, #17b3b2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0dacb3), color-stop(100%, #17b3b2));
    background: -webkit-linear-gradient(top, #0dacb3 0%, #17b3b2 100%);
    background: -o-linear-gradient(top, #0dacb3 0%, #17b3b2 100%);
    background: -ms-linear-gradient(top, #0dacb3 0%, #17b3b2 100%);
    background: linear-gradient(to bottom, #0dacb3 0%, #17b3b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0dacb3', endColorstr='#17b3b2', GradientType=0);
}

.ui-progressbar-value{
    background-image: none!important;
    background-color: #17b3b2!important;
}

.textProgress .ui-progressbar-label{
    color: #083359;
    font-size: 14px;
}

.anketKatilim:hover{
    color: orangered!important;
}

.anketNext{
    color: lightcoral!important;
}

.anketNext:hover{
    color: red!important;
}

.download{
    color: #72828B!important;
}

.download:hover{
    color: #17b3b2!important;
}

.cancel{
    color: lightcoral!important;
}

.cancel:hover{
    color: black!important;
}